playwright
python-dotenv
google-generativeai
google-genai
googlemaps
schedule
pandas
openpyxl
python-docx
python-pptx
requests
PyPDF2
six
beautifulsoup4
openai
google-search-results
serpapi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
tiktoken
PyCryptodome
mammoth
flask
flask-cors
gunicorn
pdfplumber
playwright-stealth
rich
click
pyyaml
2captcha-python
requests[socks]