Flask
twilio
google-generativeai
google-genai
googlemaps
selenium
webdriver-manager
schedule
pandas
openpyxl
python-docx
python-pptx
requests
PyPDF2
six
beautifulsoup4
openai
google-search-results
serpapi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
tiktoken
PyCryptodome
mammoth